@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.menu__icon {
  display: none;
}
/**GENERALES**/
.menu__container {
  width: 25%;
  font-family: Arial;

}

.main__menu {
  background: #2E353D;
  position: relative;
  margin-top: 0;
  height: 92.2vh;
  width: 100%;
}
.menu__title__container {
  background: #000;
  width: 100%;
  line-height: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-bottom: 1px solid #ddd;
}
.menu__container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__container ul li i{
  margin-right: 10px;
}
.menu__container ul a {
  display: block;
  color: #ddd;
  font-size: .9em;
  line-height:1.8rem;
  padding-left: 10px;
  cursor: pointer;
  transition: all .5s;
}
nav i {
  font-size: .8em;
}
.menu__container ul a:hover {
  background: rgba(0,0,0,.8);
}
.icon-plus {
  float: right;
  margin-top: 10px;
}
.menu__container ul li  {
  display: block;
  position: relative;
}
/*OCULTANDO SEGUNDO NIVEL*/

nav ul li ul {
  display: none;
}
nav ul li ul li a {
  padding-left: 20px;
}
.card__image__item {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/*************************OTROS*****************************/
.components__container {
  position: absolute;
  width: 90%;
  height: calc(100 - 20px);
  margin-top: 10px;
  border-radius: 5px

}
a:visited {
  text-decoration: none;
}
a {
  text-decoration: none;
}

/*BREAKPOINTS*/
@media screen and (min-width: 700px) {
  .components__container {
    position: absolute;
    width:70%;
    margin-left: 28%;
    height: calc(100vh - 20px);
    top: 0;
    margin-right: auto;

  }
}
@media screen and (min-width: 820px) {
  .menu__container {
    width: 20%;
  }
  .components__container {
    position: absolute;
    width:77%;
    margin-left: 21%;
    height: calc(100vh - 20px);
    margin-top: 10px;
    top: 0;
    margin-right: auto;


  }
}
@media screen and (min-width: 1024px) {
  .menu__container {
    width: 15%;
  }

  .components__container {
    position: absolute;
    width:83%;
    margin: auto auto auto 16%;
    height: calc( 100vh - 20px);
    margin-top: 10px;


  }
}
@media screen and (min-width: 1500px) {
  .menu__container {
    width: 20%;
  }
  .components__container {
    position: absolute;
    width: 78%;
    margin-left: 21%;
    height: 100vh;
    top: 0;
    margin-right: auto;
    background: grey;

  }
}
@media screen and (max-width: 710px ) {
  .main__menu {
    position: relative;
    height: 20%;
    max-height: 300px;

    /*display: block;*/
    display: none;

  }
  .components__container {
    position: relative;
    width: 97%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }

  .menu__container {
    width: 100%;
    height: 20%;
    top: 0;
  }
  .menu__title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__icon {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }
  .menu__title {
    margin-left: 10px;
  }
  .showMenu {
    right: 0;
  }

}





















