<div class="login__container" *ngIf="state">
  <mat-card class="card__container">
    <mat-card-title class="card__login">Login</mat-card-title>
    <div class="card__image">
      <i class="fa fa-user fa-7x"></i>
    </div>
    <form>
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Id" autocomplete="off" [(ngModel)]="data.user" name="id">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" autocomplete="off" [(ngModel)]="data.pwd" name="password">
      </mat-form-field>
      <mat-card-actions class="btnSend">

        <button (click)="signup()" class="btn btn-success">Ingresar</button>

      </mat-card-actions>
    </form>

  </mat-card>
</div>



<div class="general__container" *ngIf="!state">
  <nav class="menu__container" >
    <div class="menu__title__container">
      <span class="menu__title">iMonitor </span>
      <span class ="fa fa-bars menu__icon" (click)="acordionDisplay()" id="menu__acordion"></span>
    </div>
    <ul class="main__menu">
      <li class="menu__item"><a routerLink="Home"   class="menu__link"><i class="fa fa-user"></i>Inicio</a></li>

      <li class="menu__item">
        <a class="menu__link" (click)="toggleLink()">
          <i class="fa fa-wrench"></i>Manteniminento<i class="fa fa-plus icon-plus"></i>
        </a>
        <ul class="menu__submenu" id="toggleMenu">
          <li class="menu__item"><a  class="menu__link"><i class="fa fa-user"></i>Subitem 1</a></li>
          <li class="menu__item"><a class="menu__link"><i class="fa fa-user"></i>Subitem 2</a></li>
          <li class="menu__item"> <a class="menu__link"><i class="fa fa-user"></i>Subitem 3</a></li>
        </ul>

      </li>
      <li class="menu__item"><a routerLink="/ping" class="menu__link"><i class="fa fa-sitemap"></i>Ping</a></li>
      <li class="menu__item"><a routerLink="/discos" class="menu__link"><i class="fa fa-compact-disc"></i>Discos</a></li>
      <li class="menu__item"><a routerLink="/carpetas" class="menu__link"><i class="fa fa-folder"></i>Carpetas</a></li>
      <li class="menu__item"><a (click)="exitUser()" class="menu__link"><i class="fa fa-user"></i>Salir</a></li>

    </ul>
  </nav>
  <div class="components__container">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<router-outlet></router-outlet>-->


